build/
dist/
.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
venv/
*.egg-info/
.installed.cfg

# tox
.tox

# Test output files
.coverage
nosetests.xml

# Mypy
.mypy_cache

# Operating system stuff
.DS_Store
