
dist: xenial
language: python
sudo: false

cache:
  directories:
  - "$HOME/.cache/pip"

os:
  - linux

python:
  - 'pypy'
  - 'pypy3'
  - '3.5'
  - '3.7'

install:
  - travis_retry pip install codecov
  - travis_retry pip install -r requirements.txt
  - travis_retry pip install -e .

script:
  - pytest --cov=clkhash
  - codecov


jobs:
  allow_failures:
    - python: 'nightly'
    - python: '3.8-dev'

  include:

    - stage: Typecheck
      python: 3.6
      before_install:
        - travis_retry pip install -U mypy
      script:
        - mypy clkhash --ignore-missing-imports --no-implicit-optional --disallow-untyped-calls

    - stage: Test
      python: 'nightly'
    - python: '3.8-dev'
      env:
        - INCLUDE_CLI=1
    - python: '3.6'
      env:
        - INCLUDE_CLI=1
    - python: '2.7'
      env:
        - INCLUDE_CLI=1

    # OSX + Python is officially supported by Travis CI as of April 2011
    # https://docs.travis-ci.com/user/reference/osx/
    - os: osx
      osx_image: xcode8.3
      python: "3.6-dev"


    - stage: Integration
      name: Test Notebooks
      python: 3.7
      before_install:
        - travis_retry pip install -U -r docs/doc-requirements.txt
      script:
        - pytest --cov=clkhash --nbval-lax docs -x --sanitize-with docs/tutorial_sanitize.cfg
        - codecov

    - stage: Integration
      python: '3.8-dev'
      env:
        - TEST_ENTITY_SERVICE=https://testing.es.data61.xyz
        - INCLUDE_CLI=1
    - stage: Integration
      python: '3.7'
      env:
        - TEST_ENTITY_SERVICE=https://testing.es.data61.xyz
        - INCLUDE_CLI=1
        - INCLUDE_NB_TEST=1
    - stage: Integration
      python: '2.7'
      env:
        - TEST_ENTITY_SERVICE=https://testing.es.data61.xyz
        - INCLUDE_CLI=1

