bitarray-hardbyte==1.2.2
cryptography==2.9.2
jsonschema==3.2.0
hypothesis==5.19.0
mypy_extensions==0.4.3
nbval==0.9.5
pyblake2==1.1.2; python_version < '3.6'
pyinstaller==3.6
pytest==5.4.3
pytest-cov==2.10.0
tqdm==4.48.0
