bitarray==2.6.0
cryptography==38.0.1
jsonschema==4.16.0; python_version >= '3.7'
jsonschema==3.2.0; python_version < '3.7'
hypothesis==6.68.1
mypy_extensions==0.4.3
pyblake2==1.1.2; python_version < '3.6'
pytest==7.1.2
pytest-cov==3.0.0
tqdm==4.64.1
