anonlink==0.13.1
ipykernel==5.3.4
nbval==0.9.6
notebook==6.1.4
matplotlib==3.3.1
nbsphinx==0.7.1
numpy==1.19.1
pandas==1.1.1
recordlinkage==0.14
requests==2.24.0
sphinx==3.2.1
sphinxcontrib-programoutput==0.16
